.title-bar {
  margin-bottom: 40px;
}

.main-section {
  
  //padding: 20px;
}
nav, ul {
  color:white;
}
.top-bar {
  background: #6C1835;
}
.left-off-canvas-menu {
  background: #6C1835;
}



.color{
    background-color: blue;
}


